name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  deploy:

    runs-on: ubuntu-latest
    permissions:
      contents: write
    environment: development

    steps:
      - name: Set up env
        run: |
          echo "TAG=${{ vars.ECR_REGISTRY }}/${{ vars.ECR_REPOSITORY}}:openexchange-$(date +%Y%m%d-%H%M%S)" >> $GITHUB_ENV
          echo "TAG_LATEST=${{ vars.ECR_REGISTRY }}/${{ vars.ECR_REPOSITORY}}:openexchange-latest" >> $GITHUB_ENV

      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Build with Maven
        run: mvn -B package --file pom.xml

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@0e613a0980cbf65ed5b322eb7a1e075d28913a83
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ vars.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@62f4f872db3836360b72999f4b87f1ff13310f3a

      - name: Build the Docker image
        id: build-image
        run: docker build --file Dockerfile --tag ${{ env.TAG }} .


      - name: Log the tag
        run: echo ${{ env.TAG }}


      - name: Push the Docker image
        run: docker push ${{ env.TAG }}

      - name: Tag as latest
        run: docker tag ${{ env.TAG }} ${{ env.TAG_LATEST }}

      - name: Push latest
        run: docker push ${{ env.TAG_LATEST }}

      - name: Download current task definition
        env:
          TASK_DEFINITION: openexchange-task
        run: |
          aws ecs describe-task-definition \
            --task-definition $TASK_DEFINITION \
            --query taskDefinition > task-definition.json

      - name: Update task definition with new image
        id: task-def
        uses: aws-actions/amazon-ecs-render-task-definition@v1
        with:
          task-definition: task-definition.json
          container-name: ${{ env.CONTAINER_NAME }}
          image: ${{ env.IMAGE_TAG }} // ${{ needs.build-and-push.outputs.image-uri }}

      - name: Deploy to Amazon ECS service
        uses: aws-actions/amazon-ecs-deploy-task-definition@v2
        with:
          task-definition: ${{ steps.task-def.outputs.task-definition }}
          service: ${{ env.ECS_SERVICE }}
          cluster: ${{ env.ECS_CLUSTER }}
          wait-for-service-stability: true
